<div class="int_edt" style="background: #232123;width:100%;float:left;height:100%;">
<div class="logo logo_gap" (click)="loginPage();"><img src="assets/img/logoc.png" /></div>

<p class="line" color="primary">Sign up or log in to get started</p>

<form padding (ngSubmit)="login(heroForm)" #heroForm="ngForm">

  <ion-list class="log">
    <ion-item>
      <ion-input type="text" placeholder="Username"[(ngModel)]="data.email" name="email" #email="ngModel"  required ></ion-input>
    </ion-item>
      <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
      <div [hidden]="!email.errors.required" class="alert alert-danger">
       Email Address is required
      </div>
       <!-- <div [hidden]="!email.errors.pattern" class="alert alert-danger">
        Enter a valid Email Address
      </div> -->
  </div>
    <ion-item>
      <ion-input type="password" placeholder="Password" [(ngModel)]="data.password" name="password" #password="ngModel" minlength="10"  required></ion-input>
    </ion-item>
    <span class="forgetpass" (click)="goto();">Forgot Password?</span>
     <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
     <div [hidden]="!password.errors.required  " class="alert alert-danger">
      Password is required
      </div>
  </div>
    <!--<div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
     <div [hidden]="!password.errors.required  " class="alert alert-danger">
      Password is required
      </div>
  </div>-->
  </ion-list>
  
  <button ion-button block class="submit" type="submit" >GO</button>
  
</form>

 <!-- <button ion-button block class="submit" (click)="aboutPage();">FIND EVENTS</button>  -->
 <!-- <button ion-button block clear class="submit" (click)="forgetPage();" color="light" >forgot password</button>  -->
<!-- <button ion-button block clear class="submit" (click)="passwordPage();" color="light" >forgot password</button> -->
<!-- <button ion-button block clear class="submit" (click)="registerPage();" color="light" style="text-transform: unset;">Don't have an account? SIGN UP</button> -->
</div>
