<ion-header>
  
    <ion-navbar>
        <ion-segment [(ngModel)]="pet">
            <ion-segment-button value="Tickets">
              Tickets
            </ion-segment-button>
            <ion-segment-button value="Info">
              Info
            </ion-segment-button>
          </ion-segment>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>

      <div [ngSwitch]="pet">
          <div *ngSwitchCase="'Tickets'" class="vip">
            <div style="padding: 16px 16px 0px">
                <div *ngIf="alldata?.ticket?.length>0">
                    <div *ngFor="let ticketdata of alldata?.ticket"> 
                      <span *ngIf="ticketdata.ticketdata != null">
                          <ngx-qrcode [qrc-value]='baseurll+"outbuzz/event_qr_code=1&ticket_id="+ticketdata.ticket_id+"&event_id="+alldata.ID'></ngx-qrcode>
                          
                      </span>
                  
              <!-- <div class="scan"><img src="assets/img/scan.jpg" /></div> -->
            
              <h4>{{alldata.post_title}}</h4>
              <h3 *ngIf="ticketdata.userdata!=false">{{ticketdata.userdata.data.display_name}}</h3>
              <h2>{{ticketdata.ticketdata.post_title}}</h2>
              <span>{{alldata.event_meta._EventStartDate}}</span>
           
      <div class="add">
        <ion-list>
          <!-- <ion-item>
            <ion-icon name="" item-start><img src="assets/img/wallet.png" /></ion-icon>
              Add to Apple Wallet
          </ion-item> -->

          <ion-item (click)="invoke(ticketdata?.ticketdata.post_title,detailsss[0]?.Eventvanue,detailsss[0]?.EventStartDate,detailsss[0]?.EventEndDate);">
              <ion-icon name="" item-start><img src="assets/img/calendar.png" /></ion-icon>
                Add to Calendar
          </ion-item>

          <ion-item (click)="share(alldata.guid);">
                <ion-icon name="" item-start><img src="assets/img/message.png" /></ion-icon>
                  Email
          </ion-item>
        </ion-list>
      </div>
          </div>
          </div>
        </div>
        <button ion-button round outline (click)="backtohome();">Back to User Area</button>       
          </div>
        
          <div *ngSwitchCase="'Info'">
            <div class="even" *ngFor="let eventsss of details">
              <img [src]='eventsss.Eventimage'>
            </div>
    
          <ion-card no-margin class="txt" *ngFor="let eventsss of details" >
          <div class="card-title">{{eventsss.EventStartDate| date:'EE,MMM d,hh:mm a '}} - {{eventsss.EventEndDate| date:'EE,MMM d,hh:mm a '}}</div>
          <div class="card-subtitle">{{eventsss.post_title}}</div>
          <div class="sidebar-box black" [ngStyle]="{'max-height': showmore}">
              <p [innerHTML]='eventsss.post_content'>Malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              <span class="read-more" [ngStyle]="{'position':showmoremorepos}"></span>
              <!-- <div (click)="isCollapsed =! isCollapsed">Read more</div> -->
            </div>
            <button *ngIf="readles==1 && hidebutton==0" ion-button color="black" clear class="read" (click)="readmore();" >Read More</button>
            <button *ngIf="readles==0 && hidebutton==0" ion-button color="black" clear class="read" (click)="readless();" >Read Less</button>
          <!-- <p class="cnt" [innerHTML]='eventsss.post_content'></p> -->
      
            <!--<div class="mp"><img src="assets/img/map.png" /></div>-->
            <div *ngIf="eventsss?.vanueaddress!=null" #map class="mp" ></div>
        </ion-card >
        <ion-list  *ngFor="let eventsss of details" class="km">
            <ion-item >
              <h2>{{eventsss.Eventvanue}}</h2>
              <!--<h3>{{eventsss.vanueaddress}} </h3>-->
              <ion-note item-end="" class="note" (click)="toggledis()" >{{dis}}</ion-note>
              <!--<ion-note item-end="" class="note"  *ngIf='bit == 1' >{{dista}}MI</ion-note>-->
            </ion-item>
          </ion-list>
      
          <div class="production">
            <!-- <div  *ngFor="let i of arr"> -->
              <div class="pink"  width="100px;" [innerHTML]='vendor' (click)="producer(arr.vendorinfo.ID);">
                  <!--<img width="100px;" src="assets/img/pink.png" />-->
              </div>
            <!-- </div> -->
              <h3>{{name}}</h3>
              <!-- <span>{{length}} Events</span>  -->
            </div>
            
      <div class="upcom"  >
        <h4>UPCOMING EVENTS</h4>
      <ion-list class="events" *ngFor="let eventssss of detailsss">
          <ion-item class="name" (click)="scan(eventssss.ID);">
            <ion-thumbnail item-start>
                <div class="image-container">
              <img [src]='eventssss.Eventimage'>
                </div>
            </ion-thumbnail>
                <h3>{{eventssss.EventStartDate}} {{eventssss.viewcount}}</h3>
                <h2>{{eventssss.post_title}}</h2>
                <p>{{eventssss.Eventvanue}}</p>
                <span class="ticket">{{eventssss.userticketcount}}</span>
          </ion-item>
        </ion-list>
      </div>
      </div>
     </div>
  </ion-content>
