page-allevents {
    .seg_cnt {
        float: left;
        width: 100%;
        padding: 5px;
    }
    
    .seg_cnt .item ion-thumbnail[item-start] {
        margin: 0px 8px 0px 0;
    }
    
    .seg_cnt .name .label {
        margin: 0;
    }
    .events {
        margin: 2px 0 10px;
    }
    .seg_cnt .name .label {
        margin: 0;
    }
    
    .name{padding: 0px;box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);margin-bottom: 9px;}
    
    .name h3 {
        color: #4a4949;
        font-size: 12px;
        font-family: opensans-regular;
        margin: 0px;
    }
    .name h2 {
        font-family: opensans-regular;
        font-size: 13px;
        margin: 2px 0px 0;
        width: 100%;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .name p {
        font-size: 12px;
        font-family: opensans-regular;
        color: #4a4949;
        margin: 0px;
        float: left;
        width: 100%;
    }
    .name .label {
        margin: 0;
    }
    .name.item ion-thumbnail img {
        width: 80px;
        height: 80px;
    }
    .name.past{background: #e7e7e7;box-shadow: none;border: 0 !important;}
    
    .name .item-inner {
        border-bottom: 0px !important;
    }
    .name.item ion-thumbnail img {
        width: 100px;
        height: 100px;
    }  
}
