page-home {
    .new .toolbar-background-ios {
     background: #f8f8f8 !important;
 }
 .headerimg{
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         margin: auto;
 }
 .toolbar-background {
     border-color: #e7e7e7;
     background: #f9f9f9;
 }
 .new.toolbar{
     .toolbar-background {
         border-color: #e7e7e7;
         background: #f5f5f5;
     }
 
 }
 .new{min-height: 45px;}
 ion-segment {
     display: flex !important;
 }
 
 .new{
     border-top: 1px solid #e5e5e5;
     border-bottom: 1px solid #eee;
 }
 
 .header-md::after{
     background-image: none !important;
 }
 
     .heading {
         width: 100%;
         float: left;
         text-align: center;
         font-family: opensans-semibold;
         font-size: 18px;
     }
     #map {
         height: 100%;
       }
     
     .seg{
         background: #fff;
         float: left;
         width: 100%;
     }
     
     .seg .segment .segment-button{
         border: 0px;
         border-bottom: 4px solid transparent;
         color: #8e9595;
         font-family: opensans-semibold;
         font-size: 12px;
         height: 4.2rem;
         line-height: 4rem;
     }
     
     .seg .segment .segment-button.segment-activated {
         border-color:#3979ed !important;
         opacity: 1;
         background: transparent;
         color: #262727 !important;
         font-family: opensans-semibold;
     }
     
     
     .card {
         margin: 0;
         width: 100%;
         float: left;
     }
     
     .pic {
         position: relative;
         height: 200px;
         width: 100%;
     }
     
     .pic img {
         position: absolute;
         height: 100%;
         width: 100%;
     }
     
     .name{padding: 0px 16px 0px 16px;position: relative;}
     
     .name h3 {
       color: #4a4949;
       font-size: 12px;
       font-family: opensans-regular;
       margin: 0;
       text-transform: uppercase;
       padding-right: 60px;
     }
     
     .name span {
         color: #999;
             text-transform: capitalize;
         font-family: opensans-regular;
         position: absolute;
         right: 16px;
         top: 0px;
         text-transform: uppercase;
     }
     
     .name h2 {
         font-family: opensans-Regular;
         font-size: 17px;
         color: #272727;
         white-space: normal;
         word-wrap: break-word;
         padding: 3px 0;
         margin:0;
         text-transform: capitalize;
     }
     .name p  {
         font-size: 12px;
         font-family: opensans-regular;
         color: #4a4949;
         padding-bottom: 8px;
     }
     
     .hash {
         font-family: opensans-regular;
         font-size: 12px;
         white-space: normal;
         vertical-align: middle;
     }
     
     .tix {
         height: 2.9rem !important;
         font-family: opensans-regular;
         font-size: 11px !important;
         border-radius: 8px;
         padding: 0 30px !important;
         margin: 0;
     }
     .icn {
         height: 46px;
         padding: 0;
         font-size: 20px;
         margin: 0;
         float: left;
         width:auto;
     }
 
     .details{
         width:100%;
         float:left;
         margin-bottom: 0;
     }
     
     .details .item {
         padding: 0;
       }
     .details .item .item-inner {
         padding: 0;
         border: 0;
       }
     .details .item .item-inner .label {
         margin: 0;
       }
     
     .heads {
         margin: 9px 0;
         text-align: center;
         font-family: inherit;
         font-size: 1.5rem;
         color: #444444;
         text-transform: uppercase;
         font-weight: 500;
     }
     
     .hashtag{
         padding-right: 8px;
     }
     .heart_img {
         width: 38px;
         float: left;
         height: 46px;
         text-align: left;
     }
     .heart_img object {
         width: 30px;
         height: 46px;
         padding: 9px 0;
     }
     .icnb {
         font-size: 22px;
         text-align: center;
         width: 38px;
         height: 46px;
         padding: 0;
         margin: auto;
         float: left;
     }
 
     .likecomm {
         width: 100%;
         float: left;
         padding: 0;
         position: relative;
         min-height: 46px;
     }
     
     // .button_left {
     //     position: absolute;
     //     left: 16px;
     //     top: 0;
     //     bottom: 0;
     //     margin: auto;
     //     height: 40px;
     // }
     .button_left {
         min-height: 46px;
         width: 100%;
         float: left;
         padding: 0 16px;
     }
 
     .segment-button{
         border-radius: 0px !important;
     }
     
     .rightbutton {
         width: auto;
         float: right;
         height: 46px;
         padding: 8px 0;
         position: absolute;
         right: 16px;
         top: 0;
         bottom: 0;
     }
 
     .get_box {
         width: 100%;
         float: left;
         position: relative;
         border-top: 1px solid #eee;
     }
 
     .tag {
         width: 42%;
         color: #272727;
         height:auto;
         padding: 9px 0 10px 0;
         float: left;
         white-space: normal;
     }
  
     ion-scroll {
         width: 100%;
         height: 100%;
       }
  
    
     }
     .ion-page {
         position: relative;
         background:none;
       }
       .ios .ion-page.show-page ~ .nav-decor {
         left: 0;
         top: 0;
         position: absolute;
         z-index: 0;
         display: block;
         width: 100%;
         height: 100%;
         background:none; 
         pointer-events: none;
     }
 
     object.colorchange {
         display: block;
     }

    // ankit
    .tabs.tabs-ios{
        transform: none !important;
        transition: none !important;
    }