page-selectlocation {

.cat .item{padding-left: 0px;}

.cat .item-inner {
    padding-right: 16px;
    padding-left: 16px;
}

.cat .item .label {
    font-family: opensans-semibold;
    font-size: 14px;
}

.nme .label{
    font-family: opensans-bold !important;
    font-size: 14px;
}

.search {
    background: #fff;
}

.search .searchbar-input{
    background: #f0f0f0;
    box-shadow: none;
    line-height: 2rem;
    font-family: opensans-semibold;
    font-size: 14px;
    padding: 6px 32px;
    border-radius: 5px;
}

.searchbar-md .searchbar-search-icon {top: 6px;left: 6px;}

.searchbar-ios .searchbar-search-icon{top: 10px;}

.search.searchbar-ios{
padding-top: 23px;
margin-bottom: 8px;
}


.inpt {
  background: #f0f0f0;
  width: 100%;
  position: relative;
  border-radius: 5px;

}
.inpt .icon {
  position: absolute;
  left: 10px;
  top: 6px;
  font-size: 20px;
  color: #5f5c5c;
}
.location {
  padding: 0 8px;
  margin-bottom: 8px;
}
.inpt .text-input {
  margin: 6px 12px;
  padding-left: 20px;
    font-family: opensans-semibold;
  font-size: 14px;
}

.icon.icon-ios.ion-ios-search {
    font-size: 16px;
}

.locat .icon {
    padding-right: 5px;
    font-size: 23px;
    vertical-align: middle;
}

.locat {
    width: 100%;
    float: left;
    padding: 8px 16px 11px;
    color: #3979ed;
    cursor: pointer;
}

}